:root {
    --color-1: #371005; 
    --color-2: #76420c;
    --color-3: #b6846b;
    --color-4: #d9b597;
    --color-5: #e3d6c8;
    --color-dark-steel: #363636;
    --color-steel: #7f7f7f;
    --color-silver: #c0c0c0;
}

